body h1, h2, p {
    font-family: Lobster, sans-serif !important;
}

.carousel-inner img {
    width: 100%;
    margin: auto;
}

#myCarousel {
    margin: 60px auto 60px auto;
}

.margin {
    margin-top: 80px;
    margin-bottom: 30px;
}

h1 {
    color: #00bcd4 !important;
    font-size: 80px !important;
}

#menu {
    background-color: #009688;
}

#menu a {
    color: white;
    font-size: 30px;
}

h2 {
    font-size: 40px !important;
}

p {
    font-size: 20px !important;
}
